/* Mobile Screen */
@media only screen and (min-width: 220px) and (max-width: 575px) {
  header {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 10px;
  }
  .headerLeft {
    justify-content: center;
  }
  .logo {
    padding: 10px;
  }
  .headerAddress {
    padding: 10px;
  }
  .headerAddress h3 {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .headerAddress p {
    font-size: 10px;
  }
  .searchBox button {
    padding: 10px;
  }
  .headerBtn {
    position: fixed;
    margin-right: 0px;
    width: 100%;
    bottom: 0;
    justify-content: center;
    background-color: white;
    padding: 5px 0px;
  }
  .headerBtn button {
    padding: 10px;
    font-size: 14px;
  }
  .bannerSection {
    display: none;
  }
  .orderBanner {
    flex-direction: column;
    padding: 10px;
  }
  .categoryItem {
    flex-basis: 20%;
  }
  .productSection{
    padding: 0px 10px;
  }
  .productItem{
    flex-basis: 48%;
  }
  .footerMid-row1{
    flex-direction: column;
    padding: 10px;
  }
  .footerLast-row p{
    padding: 0px 10px;
  }
  
}

/* Tab Screen */
@media only screen and (min-width: 576px) and (max-width: 991px) {
  header {
    flex-direction: row;
    /* align-items: stretch; */
    gap: 10px;
    padding: 10px;
  }
  .headerLeft {
    justify-content: center;
  }
  .logo {
    padding: 10px;
  }
  .headerAddress {
    padding: 10px;
  }
  .headerAddress h3 {
    font-size: 14px;
    margin-bottom: 3px;
  }
  .headerAddress p {
    font-size: 10px;
  }
  .searchBox button {
    padding: 10px;
  }
  .headerBtn {
    position: fixed;
    margin-right: 0px;
    width: 100%;
    bottom: 0;
    justify-content: center;
    background-color: white;
    padding: 5px 0px;
  }
  .headerBtn button {
    padding: 10px;
    font-size: 14px;
  }
  .categoryItem {
    flex-basis: 16.60%;
  }
  .productSection{
    padding: 0px 10px;
  }
  .productItem{
    flex-basis: 32%;
  }
  .footerMid-row1{
    flex-direction: column;
    padding: 10px;
    padding-left: 50px;
  }
  .footerLast-row p{
    padding: 0px 10px;
  }
  
  
}
