* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Header Section */
header {
  display: flex;
  align-items: center;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  gap: 40px;
}
.headerLeft {
  display: flex;
  align-items: center;
}
.logo {
  padding: 24px 30px;
  border-right: solid 1px #ccc;
}
.headerAddress {
  padding: 20px 40px;
}
.headerAddress h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.headerAddress p {
  font-size: 14px;
}

.searchBox{
  flex-grow: 1;
  display: flex;
  background-color: #f8f8f8;
  border-radius: 15px;
  border: 1px solid #f8f8f8;
  /* overflow: hidden; */
}
.searchBox input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
}
.searchBox button {
  padding: 15px;
  border: none;
  background-color: transparent;
}
.searchBox input:focus {
  outline: none;
}
.headerBtn{
    display: flex;
    gap: 40px;
    margin-right: 50px;
}
.headerBtn button{
    padding: 15px;
    font-size: 18px;
    background-color: transparent;
    border: none;
}
.headerBtn button:last-child{
    background-color: rgb(12, 131, 31);
    color: white;
    border-radius: 5px;
}
/* Banner Section */
.bannerSection{
    margin: auto;
    max-width: 1280px;
}
.bannerSection img{
    width: 100%;
}
.orderBanner{
    display: flex;
    max-width: 1280px;
    margin: auto;
}
.orderBannerItems{
    flex-basis: 25%;
    margin: 1%;
}
.orderBannerItems img{
    width: 100%;
}
.categorySection{
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.categoryItem{
    flex-basis: 10%;
}
.categoryItem img{
    width: 100%;
}