* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Header Section */
header {
  display: flex;
  align-items: center;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  gap: 40px;
}
.headerLeft {
  display: flex;
  align-items: center;
}
.logo {
  padding: 24px 30px;
  border-right: solid 1px #ccc;
}
.headerAddress {
  padding: 20px 40px;
}
.headerAddress h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.headerAddress p {
  font-size: 14px;
}

.searchBox{
  flex-grow: 1;
  display: flex;
  background-color: #f8f8f8;
  border-radius: 15px;
  border: 1px solid #f8f8f8;
  /* overflow: hidden; */
}
.searchBox input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
}
.searchBox button {
  padding: 15px;
  border: none;
  background-color: transparent;
}
.searchBox input:focus {
  outline: none;
}
.headerBtn{
    display: flex;
    gap: 40px;
    margin-right: 50px;
}
.headerBtn button{
    padding: 15px;
    font-size: 18px;
    background-color: transparent;
    border: none;
}
.headerBtn button:last-child{
    background-color: rgb(12, 131, 31);
    color: white;
    border-radius: 5px;
}
/* Banner Section */
.bannerSection{
    margin: auto;
    max-width: 1280px;
}
.bannerSection img{
    width: 100%;
}
.orderBanner{
    display: flex;
    max-width: 1280px;
    margin: auto;
}
.orderBannerItems{
    flex-basis: 25%;
    margin: 1%;
}
.orderBannerItems img{
    width: 100%;
}
.categorySection{
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.categoryItem{
    flex-basis: 10%;
}
.categoryItem img{
    width: 100%;
}
.productSection{
    max-width: 1280px;
    margin: auto;
}
.headingRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
.headingRow h2{
    font-size: 22px;
}
.headingRow a{
    font-size: 18px;
    color: #328839;
}
.productRow{
    width: 100%;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    margin: auto;
}
.productItem{
    flex-basis: 15%;
    border: solid 1px #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #f8f8f8;
    margin-bottom: 20px;
}
.productImage{
    text-align: center;
    padding: 10px;
}
.productImage p{
    text-align: left;
    font-size: 10px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 2px;
    border-radius: 10px;
    font-weight: 400;
    width: 60px;
}
.productContant{
    padding: 10px;
    padding-top: 0px;
    
}
.productContant h3{
    font-size: 14px;
    padding-bottom: 10px;
}
.productContant p{
    font-size: 12px;
    color: #848080;
}
.btn-price-outer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

}
.btn-price-outer b{
    font-size: 12px;
}
.btn-price-outer button{
    padding: 5px 15px;
    background-color: #f7fff9;
    border-radius: 5px;
    border: solid 1px rgb(79, 133, 79);
    color: rgb(79, 133, 79);
}
footer{
    padding-top: 30px;
}
.footerMid{
    max-width: 1280px;
    margin: auto;
}
.footerMid-row1{
    width: 100%;
    display: flex;
}
.footerMid-row1-left{
    flex-basis: 30%;
}
.footerMid-row1-right{
    flex-basis: 70%;
}